main {
    background-color: #1a472a;
    border-radius: 20px;
    margin: 20px;
}

.page-header {
    color: white;
    font-weight: bold;
    text-align: center;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: #f5f5f5;
}

.content header {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    margin: 0;
    padding: 0;
}

header form {
    width: 100%;
}

form>input[type="search"] {
    width: 98%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #f5f5f5;
    background-color: #f5f5f5;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 1.1em;
}

.btn-group {
    margin: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: start;
}

button.btn {
    border: 1px solid black;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    filter: sepia(10%) opacity(0.5);
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
}

button.btn.active {
    background-color: black;
    color: white;
}

.status {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 150px;
    gap: 20px;
    margin: 20px;
}