header {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 50%;
    max-height: 50%;
    width: 100px;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    border: 5px solid #ffffff;
    background-color: #ffffff;
}

.logo>img {
    max-width: 100%;
}

.softwaredesc {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.softwaredesc h1 {
    padding: 10px;
    text-align: center;
    font-size: 1em;
}

.softwaredesc p {
    text-align: center;
}