.profile-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
    margin-top: 1%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        Arial, sans-serif;
    line-height: 0.2em;
}

.profile-card-greet {
    font: size 1.125em;
    font-weight: bold;

}

.profile-card-name {
    font-size: 2em;
    color: #1A1A1A;
}

.profile-card-role {
    font-size: 1.5em;
    text-transform: uppercase;
    padding-right: 10px;
    color: #555555;
    font-weight: 700;
}

.profile-card-dept {
    font-size: 1.2em;
    color: #555555;
    padding-left: 10px;
    font-weight: 700;
}