nav {
    width: 100%;
    background-color: #ffffff;
    margin-left: 0;
}

ul {
    list-style-type: none;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: space-around;
}

li {
    border: 1px solid white;
    flex: 1 1 auto;

}

li a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

li a.active {
    border-color: red;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

li img {
    max-width: 100%;
    width: 32px;
    height: 32px;
    margin: 10px;
}