nav {
    width: 100%;

}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: space-between;
}

li {
    border: 1px solid white;
    flex: 1 1 auto;
}