.container {
    width: 100%;
    line-height: 10px;
    background-color: white;
    border-radius: 20px;
}

.status {
    border: 1px solid #fef3c7;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    background-color: #fef3c7;
    width: 10%;
    float: right;
    margin: 20px;

}

.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.card h4 {
    margin-left: 20px;
}

.card-details {
    margin-left: 20px;
}

button {
    background-color: #10b981;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
}

button:hover {
    opacity: 70%;
}



button span {
    display: block;
}

footer {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.host-content {
    margin-left: auto;
}