.host-dashboard {
    background-color: #1a472a;
    border-radius: 20px;
}

.host-dashboard-logout {
    float: right;
    margin-right: 10px;
    margin-bottom: 20px;
}

.host-dashboard-logout img {
    width: 48px;
    height: 48px;
}

.host-dashboard-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px;
    gap: 20px;
}

.host-dashboard-body {
    clear: right;
    background-color: #f5f5f5;
    display: flex;
    flex-flow: column nowrap;
}

.host-dashboard-activity h2 {
    font-weight: bold;
    margin-left: 20px;
    
}