.host-dashboard {
    background-color: #1a472a;
    border-radius: 20px;
}

.host-dashboard-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px;
    gap: 20px;
}

.host-dashboard-body {
    clear: right;
    background-color: #f5f5f5;
    display: flex;
    flex-flow: column nowrap;
}

.host-dashboard-activity h2 {
    font-weight: bold;
    margin-left: 20px;

}