main {
    background-color: #dc2626;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

section {
    background-color: #f5f5f5;
}

.heading {
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: #ffffff;
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
}

.heading h1 {
    font-size: 2em;
    font-weight: bolder;
    font-family: "Times New Roman", "Times", sans-serif;
    margin-top: 5px;
}

.heading img {
    margin-top: 10px;
}

.heading p {
    margin-top: -10px;
    font-size: 1.2em;
    font-weight: bold;
    color: grey;
}

.status {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}