.no-data-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
}

.no-data-card img {
    width: 5%;
    height: 5%;
    max-width: 100%;
    filter: sepia(10%) opacity(0.5);
}

.no-data-card p {
    font-weight: bold;
    font-size: 2em;
}