main {
    background: linear-gradient(45deg, #1f4c2f 40%, #2a573a 20%, #1f4c2f 40%);
    border-radius: 20px;
}

/* Updating the overall header */

header {
    text-align: center;
    color: white;
}

header>img {
    margin-top: 50px;
    height: 30px;
    width: 30px;
}

/* Home Navigation */
nav ul {
    position: absolute;
    right: 1%;
    top: 10%;
}

nav ul li img {
    width: 25%;
    height: 20%;

}

/* Section Container */
section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

/* Form Container */
form {
    background-color: white;
    border-radius: 20px;
    width: 70%;
}

fieldset {
    border: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

legend {
    text-align: center;
    vertical-align: center;
}

form p {
    width: 100%;
}

p input[type="text"],
p input[type="tel"],
textarea {
    background-color: #f5f5f5;
    box-sizing: border-box;
    color: black;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
}

fieldset ul {
    list-style-type: none;
}



textarea {
    text-align: start;
    resize: none;
}


/* Passport Scanner */

#scanner {
    display: flex;
    flex-flow: row nowrap;
}

#scanner>button {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    line-height: 1.5em;
    cursor: pointer;
}

fieldset label {
    margin-top: 10px;
    font-weight: bolder;
    font-size: 1.2em;
}

button[type="submit"] {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;

}

button[type="reset"] {
    padding: 10px;
    border: none;
    font-size: 1em;
    font-weight: bold;
    background: none;
    cursor: pointer;
}

#exitKioskBtn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    opacity: 70%;
    position: absolute;
    padding: 10px;
    text-align: center;
    top: 100%;
    right: 2%;

    img {
        width: 30px;
        height: 30px;
    }

    span {
        line-height: 2.0em;
        font-size: 1em;
        font-weight: bold;
    }
}

button.host {
    border: none;
    background-color: #f5f5f5;
    margin: 10px;
    padding: 20px;
}